---
import Layout from "../layouts/Layout.astro";
---

<Layout title={"Variant Mentoring - Hva er greia?"}>
  <div class="max-w-[30rem] px-2 mt-1 mx-auto">
    <p class="mb-4">
      <a href="/">⬅ Tilbake</a>
    </p>
  </div>
  <h1 class="text-4xl font-bold text-center mt-4 mb-2 block">
    Mentoring - Hva er greia?
  </h1>

  <div class="max-w-[40rem] px-2 mt-4 mx-auto">
    <p>
      Å skrive en oppskrift på hvordan et mentorforhold fungerer er ikke enkelt.
      Det er først og fremst et forhold mellom to mennesker. For å komme i gang
      er det bare å ta kontakt med den du ønsker å ha som mentor og ta det
      derfra. Det som kan være lurt å snakke om hva man som mentee trenger, og
      hva man som mentor kan tilby. Når
    </p>
    <h2 class="text-2xl font-bold text-center block">Hvorfor ha en mentor?</h2>
    <p>
      Vet du hvor du vil, men ikke hvordan du skal komme deg dit? En mentor kan
      hjelpe deg å finne neste steg. Er du sånn passe god på React, men ønsker å
      bli sett på som en senior React utvikler. Da kan en mentor være en som
      hjelper deg å finne neste logiske steg, og som støtter deg på veien. En
      mentor kan hjelpe deg å reflektere over hvor du er i karrieren din. Dette
      kan være innen harde fagtemeaer som React, dotnet eller java, eller mer
      myke ferdigheter som ledelse, produktivitet og arbeidsprosess. Utover ren
      kompetansebygging kan en mentor være en sparringspartner som kan hjelpe
      deg å reflektere og trekke ut mer læring fra oppdraget du er i.
    </p>
    <h2 class="text-2xl font-bold text-center block">Hvorfor være mentor?</h2>
    <p>
      Å være mentor kan være veldig givende på mange måter. Det er en god måte å
      bli bedre på å kommunisere rundt fag. Ved å veilede din mentee får du
      forsterket din egen kunnskap, og kanskje du får noen nye perspektiver.
    </p>
  </div>
</Layout>
