---
import RandomPickButton from "../components/RandomPickButton";
import Typewriter from "../components/Typewriter";

// const allTopics = await Astro.glob("../pages/mentors/*.md");
// const topics = allTopics.map(t => t.frontmatter.title);
// const topicUrls = allTopics.map(t => t.url).filter(Boolean) as string[];
---

<h1 class="font-gloock text-4xl font-bold text-center my-4 block">
  <a href="/">Variant Mentoring</a>
</h1>

<div class="w-full flex justify-center p-2">
  <a href="/" class="underline hover:no-underline hover:opacity-50 transition"
    >All mentors</a
  >
</div>
