---
export interface Props {
  title: string;
  class?: string;
}

const props = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="min-h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/style.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{props.title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gloock&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="min-h-screen flex justify-center bg-gradient-to-br transition from-slate-100 via-white to-fuchsia-100"
  >
    <main class={`flex max-w-lg w-full ${props.class}`}>
      <div class="w-full">
        <slot />
      </div>
    </main>
  </body>
</html>
